@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add Engineer</h2>
<hr/>
<h3>Machine: @Html.DisplayFor(model => model.MachineName)</h3>
<hr/>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  <h4>Select Engineer:</h4>
  @Html.DropDownList("EngineerId")<br><br>
  <input type="submit" value="Save" />
}
<hr/>
<h5>@Html.ActionLink($"Back to {Model.MachineName}'s Details", "Details", new { id = Model.MachineId })</h5>