@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>Add Engineer</h1>
<hr/>
<h2>Machine: @Html.DisplayFor(model => model.MachineName)</h2>
<hr/>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  <h3>Select Engineer:</h3>
  @Html.DropDownList("EngineerId")<br><br>
  <input type="submit" value="Save" />
}
<hr/>
<h4>@Html.ActionLink($"Back to {Model.MachineName}'s Details", "Details", new { id = Model.MachineId })</h4>