@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>Add Machine</h1>
<hr/>
@using (Html.BeginForm())
{
  <h3>Machine Name:</h3>
  @Html.EditorFor(model => model.MachineName, new { htmlAttributes = new { @required="required" } })
  <br><br>
  <input type="submit" value="Add Machine" />
}
<hr/>