@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
<h2>Delete Machine</h2>
<hr />
<h4>Please confirm removal of "@Html.DisplayFor(model => model.MachineName)" and all repair licenses.</h4><br>

@using (Html.BeginForm())
{
  <input type="submit" value="Confirm" />
}
<hr />
<h4>@Html.ActionLink($"Back to {Model.MachineName}'s Details", "Details", new { id = Model.MachineId })</h4>