<div id="header">
  <button class="header">@Html.ActionLink("HOME", "Index", "Home")</button>
  <button class="header">@Html.ActionLink("ENGINEERS", "Index", "Engineers")</button>
  <button class="header">@Html.ActionLink("MACHINES", "Index", "Machines")</button>
</div>