<div id="header">
  <button>@Html.ActionLink("Home", "Index", "Home")</button>
  <button>@Html.ActionLink("Engineers", "Index", "Engineers")</button>
  <button>@Html.ActionLink("Machines", "Index", "Machines")</button>
</div>