@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Add Repair License</h1>
<hr/>
<h2>Engineer: @Html.DisplayFor(model => model.EngineerName)</h2>
<hr/>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  <h3>Select Machine:</h3>
  @Html.DropDownList("MachineId")<br><br>
  <input type="submit" value="Save" />
}
<hr/>
<h4>@Html.ActionLink($"Back to {Model.EngineerName}'s Details", "Details", new { id = Model.EngineerId })</h4>