@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add Repair License</h2>
<hr/>
<h3>Engineer: @Html.DisplayFor(model => model.EngineerName)</h3>
<hr/>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  <h4>Select Machine:</h4>
  @Html.DropDownList("MachineId")<br><br>
  <input type="submit" value="Save" />
}
<hr/>
<h5>@Html.ActionLink($"Back to {Model.EngineerName}'s Details", "Details", new { id = Model.EngineerId })</h5>