@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add Engineer</h2>
<hr/>
@using (Html.BeginForm())
{
  <h3>Engineer Name:</h3>
  @Html.EditorFor(model => model.EngineerName, new { htmlAttributes = new { @required="required" } })
  <br><br>
  <input type="submit" value="Add Engineer" />
}
<hr/>