@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
<h2>Delete Engineer</h2>
<hr />
<h4>Please confirm removal of "@Html.DisplayFor(model => model.EngineerName)" and all repair licenses.</h4><br>

@using (Html.BeginForm())
{
  <input type="submit" value="Confirm" />
}
<hr />
<h4>@Html.ActionLink($"Back to {Model.EngineerName}'s Details", "Details", new { id = Model.EngineerId })</h4>